.button{
    -fx-background-color: #E55934;
    -fx-border-radius: 20;
    -fx-background-radius: 20;

  -fx-pref-width: 150px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
}

.table-view{
    -fx-font-size: 16;
}